@import 'scaffolding/utilities';
@import 'scaffolding/type';
@import 'scaffolding/colors';

* {
	box-sizing: border-box;
	transition: .3s;
	padding: 0;
	margin: 0;
}

body, html {
	height: 100%;
	width: 100%;
}

body {
	font-family: "proxima-nova";
	font-size: 20px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #323232;
	color: $spray;

	@media (max-width: 450px) {
		justify-content: flex-start;
	}
}

h1 {
	color: $black;
	padding: 1rem;
	font-size: 2rem;
	margin: 0;
	width: 100%;
}

.music__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
	background-color: lighten(#323232, 5%);

	@media (max-width: 450px) {
		width: 100%;
		height: 100%;
		max-width: none;
	}
}

.music__box--status {
	width: 100%;
	background-color: $spray;
}

.music__box--info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	padding: 1rem 1rem;
	width: 100%;
	position: relative;

	@media (max-width: 450px) {
		padding: 2rem 3rem;
		background-color: #323232;
	}

	&::after {
		content: '';
		position: absolute;
		display: inline-block;
		height: 30px;
		width: 30px;
		background: url('../img/arrows-2.svg');
		background-size: 15px 15px;
		background-repeat: no-repeat;
		right: 0;
		bottom: 0;
	}

	.track {
		color: #f0f0f0;
	}

	.artist {
		font-size: .9rem;
	}

	.album {
		color: lighten(#323232, 35%);
		font-size: .8rem;
		font-weight: 300;
	}
}

a {
	text-decoration: none;
}

.hidden {
	display: none;
}

.music__box--player {
	order: 3;
	display: flex;
	align-items: flex-end;
	overflow: auto;
	flex-basis: 1;

	@media (max-width: 450px) {
		height: 100%;
		align-items: center;
	}
}



.footer {
	order: 4;
	padding: .5rem;
	width: 100%;
	background-color: lighten(#323232, 5%);
	display: flex;
	justify-content: space-between;
	svg {
	  height: 30px;
	  width: 30px;
		fill: lighten(#323232, 35%);

		&:hover {
			path {
				fill: $spray;
			}
		}
	}

	@media (max-width: 450px) {
		padding: 2rem;
		background-color: #323232;
	}
}


.hide {
	display: inline-block;
	height: 0;
}
