* {
  box-sizing: border-box;
  transition: .3s;
  padding: 0;
  margin: 0; }

body, html {
  height: 100%;
  width: 100%; }

body {
  font-family: "proxima-nova";
  font-size: 20px;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #323232;
  color: #71F79F; }
  @media (max-width: 450px) {
    body {
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }

h1 {
  color: #424651;
  padding: 1rem;
  font-size: 2rem;
  margin: 0;
  width: 100%; }

.music__box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  background-color: #3f3f3f; }
  @media (max-width: 450px) {
    .music__box {
      width: 100%;
      height: 100%;
      max-width: none; } }

.music__box--status {
  width: 100%;
  background-color: #71F79F; }

.music__box--info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  list-style: none;
  padding: 1rem 1rem;
  width: 100%;
  position: relative; }
  @media (max-width: 450px) {
    .music__box--info {
      padding: 2rem 3rem;
      background-color: #323232; } }
  .music__box--info::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url("../img/arrows-2.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    right: 0;
    bottom: 0; }
  .music__box--info .track {
    color: #f0f0f0; }
  .music__box--info .artist {
    font-size: .9rem; }
  .music__box--info .album {
    color: #8b8b8b;
    font-size: .8rem;
    font-weight: 300; }

a {
  text-decoration: none; }

.hidden {
  display: none; }

.music__box--player {
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: auto;
  -webkit-flex-basis: 1;
      -ms-flex-preferred-size: 1;
          flex-basis: 1; }
  @media (max-width: 450px) {
    .music__box--player {
      height: 100%;
      -webkit-align-items: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center; } }

.footer {
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
  padding: .5rem;
  width: 100%;
  background-color: #3f3f3f;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer svg {
    height: 30px;
    width: 30px;
    fill: #8b8b8b; }
    .footer svg:hover path {
      fill: #71F79F; }
  @media (max-width: 450px) {
    .footer {
      padding: 2rem;
      background-color: #323232; } }

.hide {
  display: inline-block;
  height: 0; }
