* {
  box-sizing: border-box;
  transition: .3s;
  padding: 0;
  margin: 0; }

html, body {
  height: 100%; }
  @media (max-height: 600px) {
    html, body {
      height: auto; } }

body {
  font-family: "proxima-nova";
  font-size: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(50, 50, 50, 0.95);
  color: #71F79F; }
  @media (max-width: 450px) {
    body {
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }

.bg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.8)), url("https://images.unsplash.com/photo-1450849608880-6f787542c88a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=786a67dca1d8791d181bfd90b16240d9");
  background-size: cover;
  background-position: bottom;
  -webkit-filter: grayscale(1);
          filter: grayscale(1); }

h1 {
  color: #424651;
  padding: 1rem;
  font-size: 1.7rem;
  margin: 0;
  width: 100%;
  display: inline-block; }

.music__box {
  margin-top: 4rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px; }
  .music__box:hover {
    cursor: pointer; }
  @media (max-width: 450px) {
    .music__box {
      width: 100%;
      height: 100%;
      max-width: none;
      margin-top: 0; } }

.music__box--status {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #71F79F; }
  @media (max-width: 450px) {
    .music__box--status h1 {
      font-size: 3.5rem;
      font-family: 'fatfrank';
      letter-spacing: .5rem; } }
  @media (max-width: 375px) {
    .music__box--status h1 {
      font-size: 2rem;
      font-family: 'fatfrank';
      letter-spacing: .2rem; } }

.music__box--data {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #323232;
  border-right: 20px solid #71F79F;
  border-bottom: 20px solid #71F79F; }
  @media (max-width: 450px) {
    .music__box--data {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      border: 0; } }

.music__box--info {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  list-style: none;
  padding: 1rem; }
  @media (max-width: 450px) {
    .music__box--info {
      padding: 2rem 1rem;
      width: 100%;
      background-color: #323232; } }
  .music__box--info .track {
    color: #f0f0f0; }
    @media (max-width: 450px) {
      .music__box--info .track {
        font-size: 3rem; } }
  .music__box--info .artist {
    font-size: .9rem; }
    @media (max-width: 450px) {
      .music__box--info .artist {
        font-size: 2.5rem; } }
  .music__box--info .album {
    color: #8b8b8b;
    font-size: .8rem;
    font-weight: 300; }
    @media (max-width: 450px) {
      .music__box--info .album {
        font-size: 1.7rem; } }

.music__box--equalizer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding: 1.2rem;
  background-color: transparent; }
  @media (max-width: 450px) {
    .music__box--equalizer {
      padding: 0;
      top: 0;
      width: 100px;
      height: 100px;
      position: absolute;
      right: 1rem;
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); } }
  .music__box--equalizer .bar {
    height: 10px;
    width: 2px;
    background-color: #71F79F;
    margin: 0 5px 0 0; }
    .music__box--equalizer .bar:nth-child(2n+1) {
      background-color: #41f47e; }
    .music__box--equalizer .bar:nth-child(4n+1) {
      background-color: #a1fac0; }

a {
  text-decoration: none; }

.music__box--player {
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: auto;
  -webkit-flex-basis: 1;
      -ms-flex-preferred-size: 1;
          flex-basis: 1; }
  @media (max-width: 450px) {
    .music__box--player {
      -webkit-align-items: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center;
      width: 100%;
      height: 250px;
      min-height: 250px;
      background-color: #282828; }
      .music__box--player iframe {
        margin: 0 auto;
        height: 80px;
        width: 90%; } }

.footer {
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
  padding: .5rem;
  width: 100%;
  background-color: #323232;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer svg {
    height: 30px;
    width: 30px;
    fill: #8b8b8b; }
    .footer svg:hover path {
      fill: #71F79F; }
  @media (max-width: 450px) {
    .footer {
      background-color: #71F79F; }
      .footer svg {
        fill: #282828;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin: 0 1rem; }
        .footer svg:hover path {
          fill: #282828;
          opacity: .7; } }

.hide {
  display: inline-block;
  height: 80px; }

.hidden {
  opacity: 0; }
